h2{
  height: 5%;
}

/* .... CONTENEUR D'IMAGES DU CAROUSEL */

  .carouselCtn{
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .carouselOptCtn{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* outline: solid 1px black; */
  }

  .carouselAutoplayBtn{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px black;
    text-align: center;
    vertical-align: middle;
  }

  .sliderCtn{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
  }

  .carouselImgCtn{
    position: relative;
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
  }

  .carouselImg{
    display: block;
    height : 300px;
    max-width: var(--mainCtnDim);
    border-radius: 20px;
    /* object-fit: cover; */
    flex-shrink: 0;
  }

  .carouselSlideToLeft{
    transform: translateX(0);
    transition: transform .5s ease-out;
  }

  .carouselTrackerCtn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .carouselBtn{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .carouselBtnLeft{
    transform : translateX(-200%);
  }

  .carouselBtnRight{
    right: 0;
    transform: translateX(200%);
  }

  .carouselTracker{
    position: relative;
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    margin: 15px;
  }

  .carouselTrackerActive{
    position: absolute;
    left: 118px;
    transform: scale(1) translateX(0);
    transition: 500ms ease-in-out;
    background-color: #26474E;
    z-index: 1;
  }


  /* .... SWITCH */

.carouselAnimBtn{
    width: 52px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: #49454f;
    border-radius: 24px;
    border: solid 2px #938f99;
    transition: border-color 200ms, background-color 200ms;
    cursor: pointer;
  }
  
  .carouselAnimBtn::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 12px;
    background-color: #938f99;
    transition: width 200ms, height 200ms, transform 200ms, background-color 200ms;
  }
  .carouselAnimBtn.on {
    border-color: #d0bcff;
    background-color: #d0bcff;
  }
  .carouselAnimBtn.on::before {
    background-color: #381e72;
    width: 24px;
    height: 24px;
    transform: translateX(18px);
  }


/* .... LES TRANSITIONS */

  .toLeftX{
    transform: translateX(-100vw);
  }

  .moveLeft{
    animation-name: toLeft;
    animation-duration: 1s;
 }

 @keyframes toLeft {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translate(0);
    }
 }

 .moveOut{
    animation-name: goOutLeft;
    animation-duration: 1s;
 }

 @keyframes goOutLeft {
    from {
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
 }

 /* ....|  Gestion du responsive */

    /* La barre de scroll fausse la valeur à prendre en compte pour les pointbreaks depuis la console de debug, il ajouter 17px de plus (ex: breakpoint vu à 720px, paramétrer à 737px) */
    @media screen and (min-width: 737px){


    }

    @media screen and (min-width: 981px){

       

}

    @media screen and (min-width: 1281px){

      .carouselImg{
        height : auto;
        width:  auto;
        object-fit: none;
      }

    }

