/* .... CONTENEUR D'IMAGES DU CAROUSEL */

  .carousel{
    position: relative;
    margin: auto;
    height: 80%;
    width: fit-content;
    outline: solid 1px black;
  }

  .carouselCtn{
    height: 60%;
    width: 1350px;
    margin: auto;
  }

  .carouselImg{
    position: absolute;
    display: block;
    height : 300px;
    border-radius: 20px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .carouselBtn{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .carouselBtnLeft{
    transform : translateX(-200%);
  }

  .carouselBtnRight{
    right: 0;
    transform: translateX(200%);
  }

  .carouselNav{
    position: absolute;
    bottom: 0;
    display: flex;
    height: 45px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  .carouselNavIndicator{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
  }


  /* .... SWITCH */

.checkbox {
    position: absolute;
    width: 52px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: #49454f;
    border-radius: 24px;
    border: solid 2px #938f99;
    transition: border-color 200ms, background-color 200ms;
    cursor: pointer;
  }
  
  .checkbox::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 12px;
    background-color: #938f99;
    transition: width 200ms, height 200ms, transform 200ms, background-color 200ms;
  }
  .checkbox.on {
    border-color: #d0bcff;
    background-color: #d0bcff;
  }
  .checkbox.on::before {
    background-color: #381e72;
    width: 24px;
    height: 24px;
    transform: translateX(18px);
  }


/* .... LES TRANSITIONS */

  .toLeftX{
    transform: translateX(-100vw);
  }

  .moveLeft{
    animation-name: toLeft;
    animation-duration: 1s;
 }

 @keyframes toLeft {
    from {
        transform: translateX(100vw);
    }
    to{
        transform: translate(0);
    }
 }

 .moveOut{
    animation-name: goOutLeft;
    animation-duration: 1s;
 }

 @keyframes goOutLeft {
    from {
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
 }

