*{
    padding: 0;
    margin: 0;
    list-style: none;
}

:root{
    --quarterWidth: calc(100vw / 4);
    --marginCtn: 10px;
    --mainCtnDim: calc(100% - (2 * var(--marginCtn)));
    --headerFooterHeight: 50px;
    --contentHeight: calc(100% - (2 * var(--headerFooterHeight)));
}


body{
    display: flex; /* Je modifie la valeur du display en flex pour appliquer les margins verticaux*/
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    align-items: center;
    height: var(--headerFooterHeight);
}

main{
    position: relative;
    height: var(--contentHeight);
    width: 100%;
}

footer{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1, h2{
    text-align: center;
    width: 100%;
}

.mainCtn{
    height: var(--mainCtnDim);
    width: var(--mainCtnDim);
    margin: auto;
    background: lightsteelblue;
}

.menuSlider{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    /* outline: solid 1px black; */
    transform: translateX(-100vw);
    transition: 500ms ease-in-out;
    z-index: 1;
}

.menuElmt{
    display: inline-block;
    font-size: 25px;
    color : #ffff;
    text-decoration : none;
    margin: 5%;
}

.menuBtn{
    width: 60px;
    font-family: 'Baloo 2', cursive;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border: solid 1px black;
    padding: 5px;
    cursor: pointer;
}

.content{
    height: 100%;
    width: 100%;
}

.fsImg{
    position: absolute;
    display: none;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    padding : 10px;
}

.fsImg:hover{
    transform: scale(1.2);
}

         
/* .btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

.btn-grad:hover {
    background-position: right center; //change the direction of the change here 
    color: #fff;
    text-decoration: none;
} */

/* ....|  Gestion du responsive */

    /* La barre de scroll fausse la valeur à prendre en compte pour les pointbreaks depuis la console de debug, il ajouter 17px de plus (ex: breakpoint vu à 720px, paramétrer à 737px) */
    @media screen and (min-width: 737px){


    }

    @media screen and (min-width: 981px){

       

}

    @media screen and (min-width: 1281px){

        .menuSlider{
            width: var(--quarterWidth);
        }

        .fsImg{
            display: block;
        }

    }
  